body {
    font-family: 'Open Sans', sans-serif; 
    padding-top: 100px; 
}

h3 { 
    font-weight: lighter;
}

.exp {
    margin: 40px auto;
}

.exp .glyphicon {
    font-size: 36px;
}

.exp h5 {
    font-weight: 600;
    font-size: 16px;
}

.signin-form {
    width: 300px;
}

.mt {
    font-weight: 800;
    font-size: 28px;
    color: #000;
}

.login-span {
    font-size: 18px;
}

.header-container {
    padding: 18px;
}

.check-btn {
    position: relative;
    width: 100%;
    margin: 30px auto 10px auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.error-container {
  color: #C72C1C;
  font-size: 1.4em;
  font-weight: 500;
}

.text-container {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 40px;
  font-family: 'Times New Roman';
}

/*.text-container:not(:last-child) {
}*/

/*table layout - last column*/
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
    text-align:right;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}