<header class='navbar navbar-default navbar-fixed-top'>
			<div class="container header-container">
				<a class='navbar-brand'><span class='mt'>CheckDoc</span></a>
				<ul class="nav navbar-nav navbar-right">
					<li class='dropdown pull-right'>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='login-span'>Вход</span> <span class="caret"></span></a>
						<form action="" method="get" class="dropdown-menu collapse dropdown-collapse signin-form" aria-labelledby="dropdownMenu1">
							<div class="login-box well">
								<legend>Авторизация</legend>
								<div class="form-group">
									<label for="username-email">E-mail</label>
									<input value='' id="username-email" placeholder="Введите e-mail" type="email" class="form-control" required />
								</div>
								<div class="form-group">
									<label for="password">Пароль</label>
									<input id="password" value='' placeholder="Введите пароль" type="password" class="form-control" required />
								</div>
								<div class="input-group">
									<div class="checkbox">
										<label>
											<input id="login-remember" type="checkbox" name="remember" value="1"> Запомнить меня
										</label>
									</div>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary btn-login-submit btn-block m-t-md" value="Войти" />
								</div>
								<span class='text-center'><a href="/resetting/request" class="text-sm">Забыли пароль?</a></span>
								<div class="form-group">
									<br>
									<a href="register.html" class="btn btn-default btn-block m-t-md">Создать аккаунт</a>
								</div>
								
							</div>
						</form>
					</li>
				</ul>
			</div>
		</header>