<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CheckDoc</title>
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600&amp;subset=latin,cyrillic'
          rel='stylesheet' type='text/css'/>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div id="header"></div>
<div class="greeting container">
    <h1 th:text="#{label.piracy}"/>

    <h3 th:text="#{label.results}"/>
    <br/><br/>
</div>

<span th:if="${#lists.isEmpty(mistakes)}">All good!</span>
        <span th:if="!${#lists.isEmpty(mistakes)}">

		<div class="row">
            <div class="result-container container col-md-4 col-md-offset-4	">
                <table id="piracy-res">
                    <tr>
                        <th th:text="#{label.paragraph_num}"/>
                        <th th:text="#{label.text}"/>
                        <th th:text="#{label.document_name}"/>
                    </tr>
                    <span th:each="mistake: ${mistakes}">
                        <tr>
                            <td th:text="${mistake.row}"/>
                            <td th:text="${mistake.text}"/>
                            <td th:text="${mistake.documentId}"/>
                        </tr>
                    </span>
                </table>
            </div>
        </div>
			</span>
</body>
</html>