<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StyleShot</title>
    <meta charset='utf-8'/>
    <!-- ../META-INF/resources/ -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/css/dropzone.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600&amp;subset=latin,cyrillic'
          rel='stylesheet' type='text/css'/>
    <script src="/js/jquery-2.1.4.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<!--<div id="header"></div>-->
<header class='navbar navbar-default navbar-fixed-top'>
    <div class="container header-container">
        <a class='navbar-brand'><span class='mt'>StyleShot</span></a>
        <ul class="nav navbar-nav navbar-right">
            <li class='dropdown pull-right'>
                <span class='login-span'>Hi, <span th:text="${user.userName}"/></span>
                <a class="btn" th:href="@{/}">Logout</a>
            </li>
        </ul>
    </div>
</header>
<div class="greeting container">
    <h1>Upload your image to analyze by our expert</h1>
    <br/><br/>
</div>
<div class="upload-area container">
    <div class="row">
        <div class="col-md-8">
            <div class="error-div">
                <span th:text="#{error.extension}"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <!-- Drop Zone -->
            <form action="file-upload"
                  class="dropzone "
                  id="filesdropzone"
                  th:multiple="true">
                <input type="text" name="userId" th:value="${user.id}" hidden="true"/>
            </form>
        </div>
    </div>
</div>

<script>
    $("#header").load("html/userheader.html");
</script>
</body>
</html>